/* ! styles for mobile phones */
/* ! breakpoints from bootstrap */
/* !------------------------- */

/*! X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
	.header-container {
		margin: 0;
	}
	.header-right img {
		max-width: 25rem;
	}
	.logo h3 {
		font-size: 1.3rem;
	}
	.header-left {
		min-width: 90%;
	}
}

/*! Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
	/* * hiding nav for the small screens */
	nav .nav-links {
		display: none;
	}
	/* * unhiding nav menubar for the small screens */
	.nav-icon {
		display: block;
	}

	.header-container {
		flex-direction: column-reverse;
	}
	.header-left {
		max-width: 80%;
		text-align: center;
		margin-bottom: 3rem;
	}
	.header-title {
		font-size: 3rem;
	}
	.header-right img {
		margin-bottom: 2rem;
	}
}

/*! Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
	.header-left {
		max-width: 50%;
	}
	.header-right img {
		width: 33rem;
	}
}

/*! Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}
